*.gz
*.jslint
*.swp
pub/System/CaptchaPlugin/jquery.captcha.js
pub/System/CaptchaPlugin/jquery.captcha.css
pub/System/CaptchaPlugin/img/*.png
/CaptchaPlugin.md5
/CaptchaPlugin.sha1
/CaptchaPlugin.tgz
/CaptchaPlugin.txt
/CaptchaPlugin.zip
/CaptchaPlugin_installer
/CaptchaPlugin_installer.pl
lib/GD.orig/
igp_*
locale/**/*.mo
