%TMPL:INCLUDE{"oops"}%<!-- template: oopscaptcha.tmpl -->

%TMPL:DEF{"captcha::invalid_response"}%<!-- -->
%MAKETEXT{"The security code you entered for verification did not match the image."}%
%MAKETEXT{"Please go back and <a href='javascript:history.back()'>try again</a>."}%
%TMPL:END%

%TMPL:DEF{"heading"}%%MAKETEXT{"Attention"}%%TMPL:END%
%TMPL:DEF{"message"}%
%INSTANTIATE%
%TMPL:END%
